<div class="container">
  <div class="wrapper">
  <h2>Welcome, <%=current_user.name %> !</h2>
  <hr>
  <h4>Your selected base currency is <%=@rate.base_currency %></h4>
  <h4>Your selected target currency is <%=@rate.target_currency %></h4>
  <h4>Your selected base currency amount  is <%=@rate.amount %></h4>
  <%=link_to "Edit" ,edit_rate_path(@rate) , :class => "btn btn-primary app-btn"%>
  <%=@test %>
    <% if @loading %>
    <div>Loading ...</div>
    <% end %>
  <%=@hot %>
    <% @arr.each do |item| %>
      <%= item %>
    <% end %>
  </div>
  <hr>
</div>



