<div class="container">
  <div class="wrapper">
    <h2>Welcome, <%= current_user.name %> !</h2>
    <br>

    <% if @rates.length < 1 %>
      <div class="no-rates">You have no exchange pairs created! Please create a new one.</div>
    <% end %>

    <% if @rates.length >= 1 %>
      <h4>Your exchange rate pairs:</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Base</th>
          <th scope="col">Target</th>
          <th scope="col">Base amout</th>
          <th scope="col">Weeks</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col">Calculations</th>
        </tr>
        </thead>
        <tbody>
        <% @rates.each_with_index do |item, index| %>

          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= item["base_currency"] %></td>
            <td><%= item["target_currency"] %></td>
            <td><%= item["amount"] %></td>
            <td><%= item["weeks"] %></td>
            <td><%=link_to  fa_icon("pencil",:class => "icon"), edit_rate_path(item["id"])%></td>
            <td><%=link_to  fa_icon("trash",:class => "icon"), rate_path(item["id"]), :method => :delete %></td>
            <td><%=link_to  fa_icon("arrow-right",:class => "icon"), rate_path(item["id"])%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <%= link_to "Add new pair", new_rate_path, :class => "btn btn-primary" %>
  </div>
</div>

