<div class="container">
  <div class="show-header">
    <%= link_to fa_icon("arrow-left", :class => "icon back-btn"), rates_path %>
    <h2><%= @rate.base_currency %> to <%= @rate.target_currency %> (amount : <%= @rate.amount %>)</h2>
  </div>
  <% if @result.success? %>
  <div class="show-wrapper">
    <table class="table">
      <thead class="table-header">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Week number</th>
        <th scope="col">Exchange rate</th>
        <th scope="col">Amount</th>
        <th scope="col">Profit/loss</th>
      </tr>
      </thead>
      <tbody>
      <% @result.response.each_with_index do |item, index| %>

        <tr class="tableRow">
          <% rate = item[:exchange_rate] %>
          <td>
            <span class="mobile-span">#</span>
            <span> <%= index + 1 %></span>
          </td>
          <td>
            <span class="mobile-span">Year</span>
            <span><%= item["date"] %></span></td>
          <td>
            <span class="mobile-span">Week number</span>
            <span><%= item[:week_nr] %></span>
          </td>
          <td class="<%= 'max-rate' if rate == @result.max_rate %>
                     <%= 'min-rate' if rate == @result.min_rate %>">
            <span class="mobile-span">Exchange rate</span>
            <span><%= number_with_precision(item[:exchange_rate], :precision => 4) %></span>
          </td>
           <td>
            <span class="mobile-span">Amount</span>
            <span><%= number_with_precision(item[:converted_amount], :precision => 4) %></span>
           </td>
          <td class="<%= item[:difference] > 0 ? 'profit' : 'loss' %>
                    <%= 'neutral' if rate== @result.today_rate %>">
            <span class="mobile-span">Profit/loss</span>
            <span> <%= rate== @result.today_rate ? "---" : number_with_precision(item[:difference], :precision => 4) %></span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div style="margin-top: 30px"></div>
    <%= line_chart @result.chart_data%>
    <div style="margin-top: 30px"></div>
  </div>
    <% end %>
  <% unless @result.success? %>
  <div class="error-div"> Something went wrong,please check your currencies.</div>
  <% end %>
</div>






