<div class="container">
  <div class="wrapper">
    <div class="header">
      <%= link_to fa_icon("arrow-left", :class => "icon back-btn"), rates_path %>
      <h2><%= @rate.base_currency %> to <%= @rate.target_currency %> (amount : <%= @rate.amount %>)</h2>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Year</th>
        <th scope="col">Week number</th>
        <th scope="col">Exchange rate</th>
        <th scope="col">Amount</th>
        <th scope="col">Profit/loss</th>
      </tr>
      </thead>
      <tbody>
      <% @result.each_with_index do |item, index| %>

        <tr>
          <% rate = item["rates"][@rate.target_currency] %>
          <th scope="row"><%= index + 1 %></th>
          <td><%= item["year"] %></td>
          <td><%= item["week_nr"] %></td>
          <td class="<%= 'max-rate' if rate == @max_rate %>
                     <%= 'min-rate' if rate == @min_rate %>"
          >
            <%= item["rates"][@rate.target_currency] %>
          </td>
          <td><%= item["converted_amount"] %></td>
          <% difference = item["converted_amount"].to_f - (@today_rate * @rate.amount) %>
          <td class="<%= difference > 0 ? 'profit' : 'loss' %>
                    <%= 'neutral' if difference == 0 %>"
          >
            <%= difference == 0 ? "---" : difference %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div style="margin-top: 30px"></div>
    <%= line_chart @result.collect {|i| [i["date"], i["rates"][@rate.target_currency]]} %>
    <div style="margin-top: 30px"></div>
  </div>
</div>




