<!DOCTYPE html>
<html>
  <head>
    <title>Arcane</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div>
        <span class="menu-item"> <%= current_user.name %></span>
        <%if current_user.image %>
        <%= image_tag((current_user.image), :class => "menu-img")  %>
        <%end %>
        <span class="menu-item"> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></span>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item-active">
        </li>
      </ul>
    </div>
  </nav>
    <% end %>



  <%= yield %>
  </body>
</html>
